[2020-09-22 22:21] smhmd opened #1 "Option to list url"
Use case: to pipe them into a file for download or streaming through `mpv` or some other video player.

[2020-09-23 06:00] KevCui commented on #1
I see, let me check what I can do for it.

[2020-09-23 08:40] KevCui commented on #1
Done, option `-l` will show only video link. In order to pipe it into the media player, better to use `-l` with `-s` and `-e` together for now. Details in commit 784d67b71f2a67f0b60c77d61be4f27748090078

[2020-09-23 15:47] smhmd opened #2 "Ranges in episodes"
The ability to download/list ranges: `1-100` to mean from episode 1 to episode 100. Better than: `1,2,3..,100`. Apologies if this is implemented but I couldn't figure it out.

[2020-09-23 15:53] smhmd opened #3 "Symbolic link issue"
Linking `animepahe-dl.sh` somewhere (`~/.local/bin`) and using that breaks it:

![image](https://user-images.githubusercontent.com/46059092/94037327-c5a3ac00-fdb4-11ea-9d22-b38142a24847.png)

The error:
[code]

[2020-09-23 17:18] smhmd opened #4 "Episodes above 30"
It seems that the episodes list is capped at the number 30. Why is that and how can it be solved?

[2020-09-23 18:46] KevCui commented on #2
No worry, it's not implemented. I thought about that, on the other hand, using a `for` loop to iterate a range and run the script is already pretty handy. That's why I didn't add the function to use the range of episodes as input.

[2020-09-23 18:56] KevCui commented on #3
I'd suggest to add `animepahe-dl` directory path in Shell `$PATH`. It will solve this missing file issue.

[2020-09-23 19:40] #4 closed

[2020-09-23 19:42] KevCui commented on #4
Fixed, please give a try.

[2020-09-23 19:42] #1 closed

[2020-09-23 20:06] smhmd commented on #2
Got you. However, writing `for` loops in the command line is really daunting. I would say the whole output of `animepahe-dl -s [slug]` is a bit rough, tbh. I would suggest a `-v, --verbose` flag because having a big list of metadata (with date) is always necessary. You could check https://github.com/vignedev/twist-dl (on `master` branch and merge `autoselect` branch). It could use a keymap for sel

[2020-09-23 20:09] smhmd commented on #3
I'm better off with an alias. You can make things relative to the script instead of using `$_SCRIPT_PATH`. If not, please feel free to close the issue as a `won't fix`.

[2020-09-23 20:44] KevCui commented on #3
Ok, understand. It should be easy to resolve symbolic path. Let me check.

[2020-09-23 20:46] #3 closed

[2020-09-23 20:46] KevCui commented on #3
Fixed! Please give it a try.

[2020-09-24 00:50] smhmd opened #5 "Use names, not slugs"
If I'm not mistaken, slugs get outdated, making history obsolete every now and then. `fzf` can take a filter flag `-f, --filter` to return the best matches in order. Combined with `head`, a flag of `-n, --name` (or `-a`) would be much durable.

[code]

(Does Animepahe not support English titles?)

[code]

To tell you the truth, I don't know why slugs are involved to begin with. Since they get outd

[2020-09-24 00:59] smhmd commented on #5
A flag to use `fzf`'s `--query` flag instead of `--filter` could work great, too.

[2020-09-24 06:12] KevCui commented on #5
Hey @smhmd, the anime name flag sounds good. Since you already digged deeper and have the idea how to achieve it. Would you mind to make a PR?

[2020-09-24 06:30] KevCui commented on #2
Alright, let me check if I can make the syntax you mentioned `1-20,25,30-4` work in the script.

[2020-09-24 08:50] KevCui commented on #2
@smhmd The episode range is implemented in this commit. Would you like to give it a try? Hope you'll be happy fort that :)

[2020-09-24 12:11] smhmd opened #6 "Bug with certain title"
The first entry in fzf `.hack//Sign` errors out with:

[code]

[2020-09-24 12:40] #6 closed

[2020-09-24 13:01] smhmd commented on #2
Works great! You got it.

[2020-09-24 13:01] #2 closed

[2020-09-24 16:12] KevCui commented on #5
There is a search API which supports searching anime English title. However, the response of this API doesn't include English title... only Japanese one. In the case you mentioned above, now you can search anime by its English title, e.g.: `./animepahe-dl.sh -a 'attack on titan'`

[2020-11-15 14:19] #5 closed

[2020-12-01 19:37] uali6981 opened #8 "How to use this? & ([ERROR] Missing video list!)"
Please help me in "How to use this code"?

Thanks

[2020-12-01 20:20] KevCui commented on #8
After clone/download this repository, install dependencies listed here: https://github.com/KevCui/animepahe-dl#dependency. Then run script `animepahe-dl.sh` following the examples: https://github.com/KevCui/animepahe-dl#how-to-use

[2020-12-02 06:07] uali6981 commented on #8
Thanks for this.
After installing I got this error.

![image](https://user-images.githubusercontent.com/56256581/100834827-66d27100-348e-11eb-837d-87e48557b8d6.png)

[2020-12-02 07:24] KevCui commented on #8
@uali6981 Weird. The anime video link did work for me. Could you please post the output of this command `bash -x ./animepahe-dl.sh -s a30d23f9-19e1-a07f-93c0-1612559c6f46 -e 1`? It will help me to debug this issue. Thanks

[2020-12-02 09:27] uali6981 commented on #8
`bash -x ./animepahe-dl.sh -s a30d23f9-19e1-a07f-93c0-1612559c6f46 -e 1`

+ set -e
+ set -u
+ [[ ./animepahe-dl.sh == \.\/\a\n\i\m\e\p\a\h\e\-\d\l\.\s\h ]]
+ main -s a30d23f9-19e1-a07f-93c0-1612559c6f46 -e 1
+ set_args -s a30d23f9-19e1-a07f-93c0-1612559c6f46 -e 1
+ expr '-s a30d23f9-19e1-a07f-93c0-1612559c6f46 -e 1' : '.*--help'
+ getopts :hla:s:e: opt
+ case $opt in
+ _ANIME_SLUG=a30d23f9-19e1-a0

[2020-12-02 10:00] KevCui commented on #8
@uali6981 May I ask which `node` version do you have? `node -v`

[2020-12-02 10:30] uali6981 commented on #8
![image](https://user-images.githubusercontent.com/56256581/100861192-4d8feb80-34b3-11eb-975b-54526e08d8e7.png)

[2020-12-02 11:56] KevCui commented on #8
@uali6981 The node version does look good. I don't know why deobfuscation is not working... Anyway, I tried to add another function to use `js-beautify` as fallback in the latest commit.

Could you please try it again? First, download again this repository, then install js-beautify `pip install jsbeautifier` and run `./animepahe-dl.sh -s a30d23f9-19e1-a07f-93c0-1612559c6f46 -e 1`

[2020-12-02 12:33] uali6981 commented on #8
![image](https://user-images.githubusercontent.com/56256581/100872924-5f2dbf00-34c4-11eb-842f-6f0986930298.png)

![image](https://user-images.githubusercontent.com/56256581/100872965-7076cb80-34c4-11eb-8e4b-9bced067aa42.png)

[2020-12-02 13:36] KevCui commented on #8
@uali6981 I think I may get the problem. It's because the empty space in command path `c/Program<space>`. I hope the latest commit fix it, please take a look :pray:

[2020-12-02 13:42] uali6981 commented on #8
![image](https://user-images.githubusercontent.com/56256581/100880097-27c41000-34ce-11eb-8f36-09310d846897.png)

[2020-12-02 15:23] KevCui commented on #8
@uali6981 The full path should be `/c/program files/...`, since there is an empty space in the path, it causes the issue.

This issue should be fixed in the latest commit. Please clone the repository and try again. 🙏

[2020-12-02 15:28] uali6981 commented on #8
again

![image](https://user-images.githubusercontent.com/56256581/100893167-e38c3c00-34dc-11eb-8572-989a4e48b49c.png)

[2020-12-02 15:52] KevCui commented on #8
@uali6981 oh sorry about that... We're getting closer to solve this problem 🙂. Could you please edit the script `animepahe.sh` line 171, put quotes around $_JSBEAUTIFY, like`"$_JSBEAUTIFY"`. If it works, I'll then commit it later.

[2020-12-02 16:10] uali6981 commented on #8
thanks working now

and is there any way for only getting download url link of eps?

[2020-12-02 16:20] KevCui commented on #8
@uali6981 great!

Using option `-l` will show the URL for m3u8 file without downloading video.

[2020-12-02 16:30] #8 closed

[2020-12-24 16:54] Akianonymus opened #9 "[ FEATURE REQUEST ] Ability to specify video quality"
Animepahe provides multiple quality for many videos. It would be helpful if one wants to download a specific quality.

If not available, should fallback to whatever available.

[2020-12-25 16:33] #9 closed

[2020-12-25 16:36] KevCui commented on #9
Thanks for the idea. The selection of video resolution is implemented in https://github.com/KevCui/animepahe-dl/commit/b24c6cf39f3c24c48cc15d9e3c6856798f99793d, using  the option `-r`, like `-r 720`.

[2020-12-25 17:31] Akianonymus commented on #9
It works, thank you for implementing this feature.

Also, if we don't give the slug, flags like -r or -e are ignored. Is this intented ?

[2020-12-25 19:59] KevCui commented on #9
@Akianonymus The slug is not mandatory, `-r` and `-e` should work independently. Without `-s`, script will prompt the anime list to select. Then after the selection, `-r` and `-e` options will be applied.

Let me know if it's not working for you. Post your issue with details here or another issue ticket, I will then take a look.

[2021-01-09 08:28] DieVei opened #12 "Download speed"
for some reason the download speed is very low compared to normal downloads from the site. it took around 8 mins to download a 240mb episode. Can you please fix this? I have a 100mbps connection and usually get around 5-8mbps when downloading from the website.

[2021-01-09 08:59] KevCui commented on #12
Hi @DieVei, there is no specific implementation in the script that will limit or affect download speed. All I can think for now is that it might be the restriction from server side. I'll take a look.

[2021-01-10 13:02] KevCui commented on #12
Another possible cause of your slow downloading speed is `ffmpeg`. The script is using `ffmpeg` to download and concatenate video. Thus, the cpu processing power might also impact `ffmpge`'s speed. I tried different `ffmpeg` options to see if I can gain the processing speed increase. But unfortunately, so far I am not able to make it faster than current state. :disappointed:

[2021-01-11 09:50] Akianonymus commented on #12
@KevCui It's definitely due to ffmpeg.

To solve this, just download the seperate ts files with curl, and merge it all with ffmpeg.

The URLs will be in m3u8 file.

[2021-01-11 10:08] KevCui commented on #12
@Akianonymus Thanks for the hint, I will try.

[2021-01-11 21:41] KevCui commented on #12
Hi @DieVei, I want to understand your issue more clearly. I add the debug mode in the latest commit 4ea09e9. You could start script with the flag `-d` to enable the debug mode. Under the debug mode, all detailed logs will show up in the terminal, including `ffmpeg` logs. Hope this will help to debug your issue.

[2021-01-12 19:32] DieVei commented on #12
ok so after using the debug mode, this is what i found out. Apparently the dl downloads an episode by taking source and downloading everything in small bits which is supposed to make files download faster just like how IDM works. But here, the dl is downloading everything into sooo manyyyyyy small parts that it takes more time to connect to the sources and downloading the files then rather a 2 or

[2021-01-12 22:03] KevCui commented on #12
Hi @DieVei, thanks for the logs.

You're right about how `ffmpeg` works in the script. Actually, the playlist is used for streaming mainly that's why it contains so many small parts.

From your log, I see you got an average speed `speed=1.98x` on your Raspberry Pi. Since it's a Raspberry Pi, which doesn't have very powerful hardware, this speed may be normal for it? Need do some (re)searches to fi

[2021-01-12 22:40] DieVei commented on #12
hmm that might be the issue i guess. But i have a RPi 4B+, it has 4gigs of ram and i host a NAS on it so maybe this is not a hardware issue as the specs are enough to run some resource intensive OS'. And i am running the recc. raspberry Pi OS on it so there shouldn't be any compatibility issues too. But you might be right and it is not powerful enough to actually pull faster from the servers. I sh

[2021-01-19 14:40] djchittoor commented on #12
The issue is being addressed in https://github.com/KevCui/animepahe-dl/pull/16

[2021-01-22 12:45] djchittoor commented on #12
@KevCui ig its safe to close this now :D

[2021-01-22 19:30] KevCui commented on #12
Hi, @DieVei, as @djchittoor mentioned above, the parallel download feature is now implemented in #16. To enable this feature, run script with `-t <num>` in the end. Here the `<num>` is the number of threads running in parallel, try `-t 50`, `-t 100`... to see the speed increasing.

[2021-01-22 19:30] #12 closed

[2021-01-26 14:27] lelouchvibritannia1 opened #19 "add choice for downloading using animepahe"
Add choice for downloading videos through aria2 or other external downloaders.
Since there is no progress bar while downloading, I cannot be sure whether the file is downloading. So, its better to add an external downloader option like aria2 or atleast a progressbar. And could you please make sure that whatever external downloader you add, it runs on termux?
Thanks for looking

[2021-01-28 20:10] KevCui commented on #19
Hi @lelouchvibritannia1, this issue title is too general. Which choice you would like to have? Would you provide more info in the description?

[2021-02-02 05:55] uali6981 opened #20 "file.list not found"
on parallel threads `ffmpeg` give me this error

![image](https://user-images.githubusercontent.com/56256581/106558121-066eb700-6545-11eb-85a8-0ddbe35c8a1d.png)

[2021-02-02 08:18] KevCui commented on #20
Hi @uali6981, the error indicates the `segment-1-v1-a1.ts` is not downloaded correctly. It may cause by some network hiccups. Did you try to launch the script again?

If you run script again and it's still not working, could you try to run script using normal download mode without option `-t`?

[2021-02-02 10:18] uali6981 commented on #20
launching script again after updating `ffmpeg` give me this error
![image](https://user-images.githubusercontent.com/56256581/106585927-adfde080-6569-11eb-8798-cfb88095257a.png)

and manually download work fine
![Screenshot 2021-02-02 150908](https://user-images.githubusercontent.com/56256581/106586045-cff76300-6569-11eb-92d8-77464301e864.png)

[2021-02-02 11:24] KevCui commented on #20
@uali6981 ok, thanks for the info.

From the log, it shows that you are running with debug mode `-d`, this is good. `D:/d/...` part looks weird, it may cause the issue. Would you like to list the files in `D:/Projects/animepahe-dl/22_7/.1/`

[2021-02-02 11:27] uali6981 commented on #20
here

![image](https://user-images.githubusercontent.com/56256581/106594095-7300aa80-6573-11eb-9a7e-6426a4af898c.png)

[2021-02-02 13:16] uali6981 commented on #20
when I delete `/d` from here like
![image](https://user-images.githubusercontent.com/56256581/106605280-87986f00-6582-11eb-996e-4b31a147c2d9.png)

work fine for me
![image](https://user-images.githubusercontent.com/56256581/106605430-b6164a00-6582-11eb-914f-f3e7a17e3685.png)

so is there any way to not put `/d` from begining?

[2021-02-02 13:43] uali6981 commented on #20
Somehow I solve the issue but after downloading one ep next one did not start downloading automatically in batch downloading

[2021-02-02 17:44] djchittoor commented on #20
Hi, Are you using WSL?

[2021-02-02 18:26] uali6981 commented on #20
I am on Windows.

[2021-02-02 18:28] djchittoor commented on #20
Well there you go, add handling to windows without breaking it on Linux also can you send me the output of `cd && pwd`

[2021-02-02 18:35] uali6981 commented on #20
like this?
![image](https://user-images.githubusercontent.com/56256581/106646266-5b471780-65af-11eb-8fad-dc2665a116d1.png)

[2021-02-03 03:23] djchittoor commented on #20
nono, just do the commands as such `cd && pwd`
`cd` will by default change your directory to you home and `pwd` will print the working directory

[2021-02-03 11:00] uali6981 commented on #20
here
![image](https://user-images.githubusercontent.com/56256581/106737781-e9b3ab80-6638-11eb-9e57-bb65ba091192.png)

[2021-02-03 20:28] KevCui commented on #20
Hi @uali6981, I made the first attempt to fix this issue in the latest commit. Let me know if it works for you or not.

[2021-02-03 20:56] KevCui commented on #19
Thanks @lelouchvibritannia1 for the idea. Regarding the progress bar, I'd say it's a nice to have feature. If you want to know the progress, you could run command `watch ls -lh "<video_file>"` to see the file size increasing. Hope this will help.

[2021-02-03 20:56] #19 closed

[2021-02-03 21:30] uali6981 commented on #20
here again give me error
![image](https://user-images.githubusercontent.com/56256581/106811884-c87ea980-6690-11eb-99bc-20f927b96bfc.png)

[2021-02-03 22:08] uali6981 commented on #20
is this type of approach not good?
![image](https://user-images.githubusercontent.com/56256581/106815754-1fd34880-6696-11eb-82ed-61c6bbfaa4c3.png)

[2021-02-04 10:58] KevCui commented on #20
@uali6981 The approach your showed in the screenshot may work for you on win, but I don't think it works well for the others using linux. As @djchittoor mentioned, it has to be a solution without breaking things on linux.

As my first attempt to fix this issue is not working, then I will take another look.

[2021-02-04 19:47] KevCui commented on #20
Hi @uali6981 could you please try the last commit? It's my second attempt to fix this issue. Hope this time it will work. :crossed_fingers:

[2021-02-05 06:24] uali6981 commented on #20
working now thanks!
![image](https://user-images.githubusercontent.com/56256581/106997402-a413f180-67a4-11eb-8352-729f256e8564.png)

and is batch download work with window and parallal thread?

[2021-02-05 11:42] KevCui commented on #20
@uali6981 Great, issue solved!

What do you mean batch download? If you mean `-e '*'` to download all episodes, then it should work in win.

[2021-02-05 11:42] #20 closed

[2021-02-05 12:18] uali6981 commented on #20
working

thank you so much for solving that issue

[2021-02-24 14:00] danielr0206 opened #22 "Can you please share how to use this on termux on phone?"

[2021-02-24 20:36] KevCui commented on #22
Hi @danielr0206, I don't know how to run it on the phone. The script is not designed for the phone and I think it won't work.

[2021-02-24 20:37] #22 closed

[2021-03-19 08:03] Akianonymus commented on #22
I would just like to point out that it would also work on termux, gotta install the dependencies.

[code]

[2021-03-19 08:25] danielr0206 commented on #22
TYVM

[2021-04-16 12:28] Xtraneous69 opened #26 "Can you please tell how to properly implement jq"
![Screenshot (4035)_LI](https://user-images.githubusercontent.com/82363558/115027522-68a94800-9ef6-11eb-9646-f72b09fc1f28.jpg)
I had already placed jq-win64.exe file in the same folder but I don't know what to do with it or how to use it, can you please explain in full detail for beginners like me, I'm quite new to bash scripts

[2021-04-16 18:18] KevCui commented on #26
Hi @Xtraneous69, you can run command `echo $PATH` to see all path locations. Put jq binary in one of those location and rename it to `jq`, then check if `jq` binary location is picked up in the environment by running command `which jq`.

[2021-04-19 08:24] Xtraneous69 commented on #26
thanks, I'll test it out

[2021-04-19 10:25] KevCui commented on #26
@Xtraneous69 could you please run script with the flag `-d`, which enables debug mode and shows logs in the terminal. If you could share logs here, I will take a look.

[2021-04-19 10:31] Xtraneous69 commented on #26
wait up, I managed to download an episode, and now I'm downloading 2 more, I'll get back to you when they're done
![Screenshot (4035)](https://user-images.githubusercontent.com/82363558/115222513-62f17380-a13d-11eb-8217-740cea4346ba.png)
![Screenshot (4036)](https://user-images.githubusercontent.com/82363558/115222519-64bb3700-a13d-11eb-8750-2bbce220b6ed.png)

[2021-04-19 10:40] Xtraneous69 commented on #26
here ya go
![Screenshot (4037)](https://user-images.githubusercontent.com/82363558/115223655-a13b6280-a13e-11eb-8adf-e858d860880e.png)

[2021-04-19 18:02] KevCui commented on #26
Hi @Xtraneous69, I don't see any errors in the logs you posted. From your screenshot, I assume that the command `./animepahe-dl.sh -s 8883bdd4-b11c-5495-36c4-197a5225c794 -t 120 -e 11,12` downloaded episodes 11 and 12 correctly? If it's not, please run command with the flag `-d`, like `./animepahe-dl.sh -s 8883bdd4-b11c-5495-36c4-197a5225c794 -t 120 -e 11 -d`, the logs may help. Thanks.

[2021-04-20 08:12] Xtraneous69 commented on #26
yeah, I got it, when I moved the videos to my phone, it is laggy (some frame skips from time to time) but I'll try playing it in vlc application instead, I don't have any other issue spotted currently so I'll close this one. Have a great day.

[2021-04-20 08:13] #26 closed

[2021-06-11 11:03] raffyOmega opened #27 "no show of threads"
I already download the openssl but still theres is no threads showned during downloading some series
![tread](https://user-images.githubusercontent.com/85740732/121676803-a76b1100-cae7-11eb-9d29-b3d506f3ee99.png)

[2021-06-11 11:52] KevCui commented on #27
Hi @raffyOmega, from your screenshot, there is one space character between `-` and `r`. Remove that and try again?

[2021-06-11 12:05] raffyOmega commented on #27
i fix it but...
![paild](https://user-images.githubusercontent.com/85740732/121683755-64616b80-caf0-11eb-8420-924346bb7fac.png)

[2021-06-11 12:19] KevCui commented on #27
@raffyOmega Strange. Please run command with `-d` to enable debug mode and post some logs, I will take a look later.

[2021-06-12 00:07] raffyOmega commented on #27
![2](https://user-images.githubusercontent.com/85740732/121758738-3d895080-cb55-11eb-8231-50d4ce1b4b00.png)
![1](https://user-images.githubusercontent.com/85740732/121758740-3f531400-cb55-11eb-8dfe-8de1e965c983.png)

[2021-06-12 12:20] raffyOmega commented on #27
i have another problem while downloading some episodes
![bago](https://user-images.githubusercontent.com/85740732/121775659-92f84880-cbbb-11eb-889f-0bd8235093cd.png)

[2021-06-12 14:36] KevCui commented on #27
Hi @raffyOmega, are you able to download any episode using normal download *without* `-t`? Could you try to install generic curl for Windows, not cygwin one?

[2021-06-13 00:37] raffyOmega commented on #27
hello admin,
Yes I can but it take 10-20 mins per episode eventhough I  have an higher internet speed(230 mbps ) . I'll try to install

[2021-06-13 05:37] #27 closed

[2021-06-13 05:43] KevCui commented on #27
Hi @raffyOmega, I made the attempt in the last commit to fix the problem. Could you pull the latest commit and try once more if `-t` works for you now?

[2021-06-13 06:58] raffyOmega commented on #27
![tin](https://user-images.githubusercontent.com/85740732/121798208-a0fba700-cc57-11eb-8d50-690224427682.png)
I can use"-t" command from other series but some series still error (curl)23

[2021-06-13 07:01] raffyOmega commented on #27
![we](https://user-images.githubusercontent.com/85740732/121798307-12d3f080-cc58-11eb-9a40-1ef90b6e30e5.png)
![x](https://user-images.githubusercontent.com/85740732/121798318-2ed79200-cc58-11eb-8211-e938bc1c84a8.png)

[2021-06-13 10:42] KevCui commented on #27
Hi @raffyOmega, the error may be caused by some special characters in folder name. I made some changes in the latest commit. If you pull the changes, your issue should be fixed.

[2021-06-17 09:28] thaynos opened #28 "no output shown"
[code]
after nothing shows

[2021-06-17 10:12] KevCui commented on #28
Hi @thaynos, please run script with `-d` to enable debug mode, paste some logs here and I will take a look. Thanks.

[2021-06-18 14:51] thaynos commented on #28
nothing happens?
`./animepahe-dl.sh -a "naruto" -d`

it just stays as a blank screen

[2021-06-18 20:01] KevCui commented on #28
What?! This is unexpected 😓. @thaynos Try `bash -x ./animepahe-dl.sh -a "narutu"`?

[2021-07-24 14:55] ayushjaipuriyar opened #29 "No uuid in anime.list"
There are no uuids of anime in anime.list.

[code]

After running the script it shows 0/0

[2021-07-24 15:42] prajwal108 opened #30 "Download Error after working fine at first; error pasted bellow"
prajw@DESKTOP-39F45QH MINGW64 /d/animepahe-dl-master/animepahe-dl-master
$ ./animepahe-dl.sh -a 'one piece'
parse error: Invalid numeric literal at line 1, column 10
[ERROR] Anime slug not found!

[2021-07-24 20:56] #30 closed

[2021-07-24 20:57] KevCui commented on #30
Same cause as #29

[2021-07-24 21:02] #29 closed

[2021-07-24 21:04] KevCui commented on #28
Close this issue for now, because info is missing for the further investigation.

[2021-07-24 21:04] #28 closed

[2021-07-24 21:05] KevCui commented on #29
Hi @ayushjaipuriyar, latest commit should work. But I cannot promise how long it will still keep working :)

[2021-07-26 04:25] ayushjaipuriyar commented on #29
Thank you , it works just fine now .

[2021-07-26 09:30] KevCui commented on #30
Hi @prajwal108, please pull the latest commit, it should work.

[2021-07-26 09:38] prajwal108 commented on #30
it did worked !
Thank you so much for your help

On Mon, Jul 26, 2021, 3:00 PM K̶e̶v̶i̶n̶ ***@***.***> wrote:

[2021-08-10 01:13] raffyOmega opened #31 "slug Not found"
hello again admin :) it work from yesterday but today I cant search using slug
![crop](https://user-images.githubusercontent.com/85740732/128793463-7e0aed8a-5ca1-45e9-9fde-23f17e488740.png)

[2021-08-10 07:07] KevCui commented on #31
Hi @raffyOmega, could you run script with `-d` to enable debug mode and paste logs here? I will take a look.

[2021-08-10 23:45] raffyOmega commented on #31
![crop1](https://user-images.githubusercontent.com/85740732/128948874-809ddfd1-6465-4acb-bb8d-314bc78cb93f.png)
this will happen if im going to enable the -d debug mode

[2021-08-11 09:41] KevCui commented on #31
@raffyOmega ok, if you select an anime from your screenshot and after that will it show an errors?

[2021-08-11 09:59] raffyOmega commented on #31
Yes just like that previous image I send , no log just the slug error.

On Wed, Aug 11, 2021, 5:41 PM K̶e̶v̶i̶n̶ ***@***.***> wrote:

[2021-08-11 11:13] KevCui commented on #31
@raffyOmega Which anime title you selected in your case?

[2021-08-11 11:39] raffyOmega commented on #31
Strike the blood , carpcapture sakura , etc

On Wed, Aug 11, 2021, 7:13 PM K̶e̶v̶i̶n̶ ***@***.***> wrote:

[2021-08-11 11:44] raffyOmega commented on #31
![Uploading crop.png…]()

[2021-08-11 11:45] raffyOmega commented on #31
![crop](https://user-images.githubusercontent.com/85740732/129023243-8ba38c66-b44f-4389-a8d7-839e4ace207e.png)
....

[2021-08-11 13:17] raffyOmega commented on #31
Nothing happen after I enter the command or the command will automatically
go to the anime names list(notepad)

On Wed, Aug 11, 2021, 9:15 PM K̶e̶v̶i̶n̶ ***@***.***> wrote:

[2021-08-11 13:19] raffyOmega commented on #31
I will try again tomorrow i will update you

On Wed, Aug 11, 2021, 9:17 PM omega raffy ***@***.***> wrote:

[2021-08-11 23:45] raffyOmega commented on #31
it work, but I want to download the season 4 not the first season even he cardcaptor sakura movie 1 not working

[2021-08-12 06:51] KevCui commented on #31
@raffyOmega Nice, does this command below work for you to download season 4 episode 1?
`./animepahe-dl.sh -a "strike the blood IV" -e 1 -d`

[2021-08-12 09:22] raffyOmega commented on #31
![Uploading crop1.png…]()

[2021-08-12 09:24] raffyOmega commented on #31
![crop1](https://user-images.githubusercontent.com/85740732/129172943-32f235c5-e6a7-4549-b03b-bd2323a1e2d4.png)
this will happen
![Uploading crop1.png…]()

[2021-08-12 09:26] raffyOmega commented on #31
another one
![Uploading crop1.png…]()

[2021-08-12 09:26] raffyOmega commented on #31
![crop1](https://user-images.githubusercontent.com/85740732/129173291-fdfa9213-f31f-4423-8509-e206dd1768d3.png)
another

[2021-08-12 20:50] KevCui commented on #31
@raffyOmega The error in your latest screenshot looks wired. Could you run `./animepahe-dl.sh -a "strike the blood IV" -e 1 -d &> debug.log` and post logs in `debug.log`?

[2021-08-12 22:17] raffyOmega commented on #31
RAFFY@DESKTOP-UC2G6V6 MINGW64 ~/Desktop/animepahe-dl-master
$ ./animepahe-dl.sh -a "strike the blood IV" -e 1 -d
+ getopts :hlda:s:e:r:t:o: opt
+ set_var
++ command -v curl
+ _CURL=/mingw64/bin/curl
++ command -v jq
+ _JQ=/c/ProgramData/chocolatey/bin/jq
++ command -v fzf
+ _FZF=/c/ProgramData/chocolatey/bin/fzf
++ command -v node
+ _NODE='/c/Program Files/nodejs/node'
++ command -v ffmpeg
+ _FFMP

[2021-08-12 22:18] raffyOmega commented on #31
I just copy all the logs for better find way

[2021-08-13 11:38] KevCui commented on #31
@raffyOmega thanks 🙏 I will take a look.

[2021-08-13 11:51] KevCui commented on #31
@raffyOmega `_ANIME_NAME` shows 2 lines of anime title, which is not normal. Would you mind to drag & drop `anime.list` file from the script directory, then share it here?

[2021-08-13 12:55] raffyOmega commented on #31
hello, it still the same from the latest image what I send to you,  I dont know why there to 2 lines of anime title. if im going to download without the threads the github will auto close

[2021-08-13 12:58] KevCui commented on #31
@raffyOmega no idea what's happening :) If you attach `anime.list` here, I can check.

[2021-08-13 13:01] raffyOmega commented on #31
Where i can find the anime list? The notepad one? I'm totally novice for
this , sorry

On Fri, Aug 13, 2021, 8:58 PM K̶e̶v̶i̶n̶ ***@***.***> wrote:

[2021-08-13 13:02] KevCui commented on #31
@raffyOmega no worry, `anime.list` is located in the script directory. From your log, it should be in `/c/Users/RAFFY/Desktop/animepahe-dl-master/`

[2021-08-13 13:13] raffyOmega commented on #31
I will check it tommorow cause its 9 PM in our country (philippines) .
Thank you.

On Fri, Aug 13, 2021, 9:02 PM K̶e̶v̶i̶n̶ ***@***.***> wrote:

[2021-08-13 22:50] raffyOmega commented on #31
[README.md](https://github.com/KevCui/animepahe-dl/files/6985474/README.md)

[2021-08-13 22:56] raffyOmega commented on #31
![crop1](https://user-images.githubusercontent.com/85740732/129425383-728e0bf0-94ad-4168-b5e4-157064d4e576.png)
i dont know what really the problem is. I cant paste or drag the list name it say "You can't comment at this time — your comment is too long (maximum is 65536 characters)." if im going to attach the file  , the files is not supported though

[2021-08-13 22:57] raffyOmega commented on #31
![crop1](https://user-images.githubusercontent.com/85740732/129425470-083e8e17-aef9-4d6a-80c5-7c913f16e407.png)
which is the anime list?

[2021-08-14 08:32] KevCui commented on #31
@raffyOmega The 2nd one, `anime` with notepad icon, type `list` file

[2021-08-14 08:42] raffyOmega commented on #31
I Cant drag it cause the file does not support  or if I copy the whole list it will be a maximum comment

[2021-08-14 08:44] raffyOmega commented on #31
![crop1](https://user-images.githubusercontent.com/85740732/129440403-c2a71fcf-fd28-4436-9928-7594285686e1.png)
this kind of error

[2021-08-14 08:44] raffyOmega commented on #31
![crop1](https://user-images.githubusercontent.com/85740732/129440419-e4d83f91-478d-41cf-a340-113da0858e22.png)
and this

[2021-08-14 09:51] KevCui commented on #31
@raffyOmega ok, thanks. No worry, I can guess what's the issue of anime name. I'll try to reproduce it on my machine.

[2021-08-14 11:29] KevCui commented on #31
Hi @raffyOmega, if I understand correctly the problem, the latest commit should fix it. Please try to pull the latest commit, remove `anime.list` file, and run script to see if it works for you.

[2021-08-14 11:45] raffyOmega commented on #31
"anime slug not found" " :( i try to delete the list but whenever I want to search some slug the anime.list will pop up

[2021-08-14 12:02] KevCui commented on #31
@raffyOmega What do you mean anime.list will "pop up"? If you mean the file will be created, that's right, script will download latest list and save it into anime.list.

Did you try ` ./animepahe-dl.sh -a "strike the blood IV" -e 1 -d`? It gets the same error as before?

[2021-08-14 12:27] KevCui commented on #31
@raffyOmega What was the command you ran to see the error "anime slug not found"?

[2021-08-14 12:31] raffyOmega commented on #31
The command that you given to me  ./animepahe-dl.sh -a "strike the blood
IV" -e 1 -d

On Sat, Aug 14, 2021, 8:27 PM K̶e̶v̶i̶n̶ ***@***.***> wrote:

[2021-08-14 12:32] raffyOmega commented on #31
Yes still the error occurred , same error if I don't want to used the debug
mode or the normal search without the slug , the github automatically closed

On Sat, Aug 14, 2021, 8:02 PM K̶e̶v̶i̶n̶ ***@***.***> wrote:

[2021-08-14 12:38] KevCui commented on #31
@raffyOmega

IV" -e 1 -d

:thinking: It looks like you have the problem of  "Enter" key on your keyboard? The `IV" -e 1 -d` part is entered as a second line. Could you make sure ` ./animepahe-dl.sh -a "strike the blood IV" -e 1 -d` command is entered in one line, without any line break/new line?

[2021-08-14 13:01] KevCui commented on #31
@raffyOmega ok, let's try this to check if fzf works:
1. In script directory, run `fzf < anime.list`
2. See anime list in fzf, type "strike the blood", type "enter"

You shall see `[2c74ae71-6509-7f3f-bd7e-76b47ab83b00] Strike the Blood` as the result on the screen, is it correct?

[2021-08-14 23:05] raffyOmega commented on #31
yes you are correct

[2021-08-15 05:57] raffyOmega commented on #31
I think I can download now without using the slug only the title format... I re-download the latest commit

[2021-08-15 07:31] KevCui commented on #31
@raffyOmega nice, glad to hear that it works for you now. Otherwise, honestly I don't know what could be the issue 🙂

[2021-08-15 07:31] #31 closed

[2021-08-25 23:52] raffyOmega opened #32 "Here we go again admin :)"
![crop1](https://user-images.githubusercontent.com/85740732/130879021-8a2e201f-e926-4aef-a553-42fbceab5ebb.png)
blank or empty list even the notepad is empty

[2021-08-26 11:01] #32 closed, assigned to nobody

[2021-09-11 21:21] raniesantos opened #34 "Add variable for configuring custom download path"
Please add a separate variable for download path near the top of the script that can be easily edited.

[2021-09-12 09:37] KevCui commented on #34
Hi @raniesantos, thanks for your suggestion. I don't see the needs of this feature at this moment. I want to keep it simple.

I'd suggest to execute this script in the location where you want the downloaded files to be, or `mv` downloaded files afterwards.

[2021-09-12 09:37] #34 closed

[2021-09-14 18:08] TisIDom opened #36 "No audio"
There's no audio on the anime episodes I've downloaded. Did I go wrong somewhere? All the dependencies, libraries, or whatever seem to be installed correctly.
Edit: Reinstalled the dependencies, tried downloading again but the same problem occurs.

[2021-09-15 06:19] KevCui commented on #36
Hi @TisIDom, could you please check on the website if anime you want to watch has audio? The script only downloads the media to local. It should not cause this issue.

[2021-09-15 06:51] TisIDom commented on #36
@KevCui  I downloaded it from Animepahe and yeah it does have audio on the website.

[2021-09-15 06:59] KevCui commented on #36
@TisIDom Ok, I think it may have something to do with `ffmpeg`. Could you let me know which anime title and episode you want do download? And the version of `ffmpeg`, run `ffmpeg --version` to get version?

[2021-09-15 11:13] TisIDom commented on #36
@KevCui
ffmpeg: ffmpeg version 4.4-essentials_build-www.gyan.dev Copyright (c) 2000-2021 the FFmpeg developers
             built with gcc 10.2.0 (Rev6, Built by MSYS2 project)
anime:  Steins;Gate, none of the episodes had sound.

[2021-09-15 20:42] KevCui commented on #36
Hi @TisIDom, could you please run `./animepahe-dl.sh -s 5d309d45-d290-37dd-2665-0b84fb146830 -e 1 -d 2>&1 | tee debug.log`? It will download 1st ep of Steins;Gate and dump logs to `debug.log`. If you share `debug.log` in the comment or paste it to GitHub Gist, I will take a look. Thanks.

[2021-09-16 06:41] TisIDom commented on #36
Hello @KevCui, here are the logs: https://gist.github.com/TisIDom/a94dfeaafad6e4a562155f90d088f082

Also, I was playing around with the episode file and after opening it with VLC Player, the audio started working. Maybe something's wrong with my installation of Microsoft's 'Movies & TV'? What's strange is that all of the other videos on my pc opened with Microsoft's 'Movies & TV' work fine audio-w

[2021-09-16 07:47] KevCui commented on #36
Hi @TisIDom, I'm glad that the audio works now for you. It's possible that Microsoft's 'Movies & TV' doesn't support certain audio codec. In the script, the audio codec used in `ffmpeg` is the default one (auto selected by ffmpeg). From your log file, it's `Audio: aac (HE-AAC) `. If you want to use Microsoft's 'Movies & TV', I think you could search online and maybe there are some additional codec

[2021-09-16 07:47] #36 closed

[2021-09-19 01:00] Default0X opened #37 "Animepahe connection error"
I tried using the tool and it worked fine but when I tried again, it gave the error:
curl: (7) Failed to connect to animepahe.com port 443 after 118 ms: Bad access
[ERROR] Anime slug not found!

I have installed all the dependencies and also have fast internet.

[2021-09-19 09:49] KevCui commented on #37
Hi @Default0X, the error message looks a network connection issue or a server issue. Maybe try it again later? 🤞

[2021-09-19 10:14] Default0X commented on #37
Thanks @KevCui . I'll give it some time. Although it's been doing this for some days now

[2021-09-19 10:59] KevCui commented on #37
@Default0X oh, it's been for some days... :thinking: it shouldn't if it's network issue. Did you update some firewall configurations recently on your machine? If you try this command `curl -I https://animepahe.com`, will you get the connection established?

[2021-09-19 11:36] Default0X commented on #37
Really appreciate your reply but it seems that that doesn't work either
![Error](https://user-images.githubusercontent.com/56763064/133926014-90bcb771-e209-4db2-815f-c88a29fd1f75.png)

[2021-09-19 12:00] KevCui commented on #37
@Default0X Ok, curl the site directly is not working either. I don't know much about how to debug curl. Maybe you could search this curl error online and find some solutions.

[2021-09-19 12:06] Default0X commented on #37
Alright @KevCui . I'll look it up and see what I can find

[2021-09-20 10:21] #37 closed

[2021-09-23 09:17] Default0X commented on #37
So @KevCui , after many attempts at trying to fix the issue, I found out that the issue originated from the script restrictions that were enabled on my machine. Windows, on some machines, restricts scripts that it thinks are harmful from running.
So I fixed this by
1. Running cmd/PowerShell as admin
2. Enter the command: Get-ExecutionPolicy -List
3. Enter the command: Set-ExecutionPolicy Unrestric

[2021-09-23 09:37] KevCui commented on #37
Hi @Default0X, thanks for sharing this useful info 👍 Cheers!

[2021-10-01 22:29] raffyOmega opened #38 "no anime found"
hey , can you fix again this " no slug found" because the list file was empty 0/0.

[2021-10-02 06:49] KevCui commented on #38
Hi @raffyOmega, the script works fine for me. Which anime are you searching for?

[2021-10-03 00:05] #38 closed

[2021-10-05 16:28] Zeroo097 opened #39 "Anime Slug Not Found"
It doesn't recognise the name of the anime i tried the name both in English and Japanese but it doesn't seem to work.When i try english it shows anime slug not found when i try in Japanese it just stucks there nothing pops up

![IMG_20211005_215645.jpg](https://user-images.githubusercontent.com/91909890/136065953-4358c8c5-7b47-4338-9d34-063a5b353242.jpg)

[2021-10-05 16:31] Zeroo097 opened #40 "SSL CONNECTION TIMEOUT"
When i try to download using -t command it shows connection timeout.

Command I Used:-
./animepahe-dl.sh -s (anime slug) -r 720 -e 2-11 -t 5

![IMG_20211005_220014.jpg](https://user-images.githubusercontent.com/91909890/136065762-429fa948-e3d2-43b2-9a67-caf9228e2b2e.jpg)

[2021-10-05 18:29] KevCui commented on #40
Hi @Zeroo097, I'm aware of that and I did some investigations. So far, I'd say it's caused by network issue or server side throttling. I suggest to use normal download mode without `-t`.

[2021-10-05 18:29] #40 closed

[2021-10-05 18:34] KevCui commented on #39
Hi @Zeroo097, the English title in your screenshot has a typo, it should be `attack`, not `attck`. In case you don't see any outputs, please run command with `-d`, it will print out all debug logs.

[2021-10-06 05:08] Zeroo097 commented on #39
Still the same problem no outputs were shown even after i corrected the typo.I am attaching the debug log below.

![image](https://user-images.githubusercontent.com/91909890/136143241-6370e93e-c457-4236-8d7f-48840e45adb8.png)

![BB](https://user-images.githubusercontent.com/91909890/136143697-185a81fa-c0d8-4f83-af0e-492bc9573512.png)

[2021-10-06 08:18] Zeroo097 commented on #40
Sir,I Cannot use normal download feature because AnimePahe.com is banned in our country and i have to use vpn which give very slow data speed.Openssl helped in increasing speed a little bit.Is there any workaround that i can use AnimePahe.ru which is not banned in and i can use it without vpn which will aug increase data speed.

[2021-10-06 08:28] KevCui commented on #40
Hi @Zeroo097, you could try to change URL in the script to use the ru one. However, I never tried to use the ru one. It's not guarantee that it will work through. Well, at least, please give it a try.

[2021-10-06 08:29] Zeroo097 commented on #39
I deleted **anime.list** file and it did not help.Idk why but when i write jujutsu in anime name it recognises it and starts to download but when i write any other name it doesn't work btw i used tokyo for tokyo revengers.And how do i enable writing permission? Thank You for Help.

[2021-10-06 08:31] Zeroo097 commented on #40
Okay i will try it and then update you.

[2021-10-06 08:36] KevCui commented on #39
@Zeroo097 thanks for the info. I think the permission is correct. It may be an issue of `fzf`. Please try this command `echo "a\nb" | fzf -1`, are you able to use fzf to select "a" or "b" in the list?

[2021-10-06 09:08] Zeroo097 commented on #39
When i wrote this command and pressed enter it did not ask me to do anything it gave output itself.

[2021-10-06 09:11] Zeroo097 commented on #40
Okay in the beginning of the script i changed .com to .ru and when i ran the script it showed parse error btw i only changed the host written in the beginning nothing else.

![IMG_20211006_142644.jpg](https://user-images.githubusercontent.com/91909890/136174277-cb174e02-5a27-4e68-b67b-ac3c22471f8c.jpg)

[2021-10-06 09:22] KevCui commented on #39
@Zeroo097, what's the output you saw? You should be able to select "a" or "b" in `fzf`. If not, something is wrong with your `fzf` installation/configuration.

[2021-10-06 09:23] KevCui commented on #39
Sorry, my bad, the command I posted in previous comment is wrong, try this `echo -e "a\nb" | fzf -1`

[2021-10-07 10:39] Karambe69 opened #41 "Issue while downloading"
I was downloading mha,the first day it worked fine.But nowadays whenever i use -t for better download speed it shows ssl connection aborted however the downloading doesn't stop.But Still.

[2021-10-07 18:52] #41 closed, assigned to nobody

[2021-11-12 04:46] sheesh12333 opened #42 "Failure Writing output to destination"
![image](https://user-images.githubusercontent.com/94157386/141411189-384ae95e-08ce-48d1-8764-1194c062e438.png)
pls help how can I fix this issue

[2021-11-12 09:11] KevCui commented on #42
Hi @sheesh12333, I tried to fix this issue in the latest commit. Please pull the changes and let me know if the fix works for you or not.

If the fix is not working and your issues remains, could you try to download another anime title without flag `-t`? It will help for the investigation. Thanks.

[2021-11-13 02:42] sheesh12333 commented on #42
I always receive this kind of issue in my old pc. When I download this 2 anime and failed I can't open the folder 'Location is not available'. Then I bought my new pc and download everything, everything seems fine at first then I tried to download 'Tantei wa mou, shindeiru' and it failed so I remember this 2 anime that I wanted to download last time.
![image](https://user-images.githubusercontent.

[2021-11-13 20:21] KevCui commented on #42
Hi @sheesh12333, thanks for the info. It appears that Windows doesn't allow folder name contain trailing dot. I made a fix in the latest commit. If you pull the changes, the issue should be fixed :crossed_fingers:

[2021-11-16 01:34] sheesh12333 commented on #42
I already executed the first commit and still the same as the first image that I sent

[2021-11-16 08:40] KevCui commented on #42
@sheesh12333 Could you please try to download another anime, like: `./animepahe-dl.sh -a 'Steins Gate 0' -e 1`? Does it work for you?

[2021-11-16 08:48] KevCui commented on #42
@sheesh12333 From your 2nd screenshot, it shows error "location is not available". I'd assume that the issue you are having is not related to the script itself, it may be caused by the system. It seems that your user account doesn't have the right permission to access to the folder. Could you please grant the permission to your user and double check the permission of the account which is used to r

[2021-11-20 13:46] sheesh12333 commented on #42
The anime that you requested work the character ";" in the anime change to "_''
![image](https://user-images.githubusercontent.com/94157386/142728433-e8d2275e-a7c7-4d25-9314-001ffa1c4d5e.png)

[2021-11-20 14:01] sheesh12333 commented on #42
I already downloaded a bunch of anime series and I notice that these 3 anime has "." I think my problem is that

[2021-11-20 19:09] KevCui commented on #42
@sheesh12333 I think so too. The commit https://github.com/KevCui/animepahe-dl/commit/8364cbc8746f55ec539179fc31fddf330e6e3124 should have replaced the trailing `.` by `_` already. Could you try to download those 3 animes and check the created folders. if they still contain `.`?

[2021-12-06 01:54] sheesh12333 commented on #42
Hi! I very sorry for replying late I've been busy completing all my midterm requirements and taking exams. I just want you to know that the bug is already fixed, I already try to download the 3 anime with ''.'' today and it's all fine and working. Thank you for helping out!

![image](https://user-images.githubusercontent.com/94157386/144774384-4d0a9bf6-9aea-4a4e-a710-62ae39dfc6c8.png)
![image](htt

[2021-12-07 10:54] KevCui commented on #42
@sheesh12333 Thanks for checking the fix. Glad that it works out for you. I will then close this issue.

[2021-12-07 10:54] #42 closed

[2021-12-08 04:05] parhamlans619 commented on #39
![Screenshot (58)](https://user-images.githubusercontent.com/95732812/145146412-10b59952-32c3-453b-ac63-9c1e8f4bc585.png)

[2021-12-09 12:36] KevCui commented on #39
Hi @parhamlans619, @Zeroo097 already tried to change to `.ru` in another issue ticket https://github.com/KevCui/animepahe-dl/issues/40#issuecomment-936958432 Unfortunately, it doesn't work.

[2021-12-09 12:42] parhamlans619 commented on #39
How can I fix my issue? 443 error

[2022-01-23 13:07] Sunderlevi opened #43 "Help bro...!!!"
1.Does this downloader shows downloading percent while downloading or it is not showing to me.
2.I tired using -t but it's not working any solution

[2022-01-23 15:47] KevCui commented on #43
Hi @Sunderlevi,

1. no progress bar, normal for everyone
2. no idea, share some logs or error messages?

[2022-01-24 01:24] Sunderlevi commented on #43
![Screenshot_2022-01-24-06-49-11-69_84d3000e3f4017145260f7618db1d683](https://user-images.githubusercontent.com/96936021/150707517-2ce25b7b-5e46-4d50-8907-89191e95c4c4.png)
Can you update the code with progress bar
It actually very difficult to say when the downloading will be finished..

[2022-01-24 06:43] KevCui commented on #43
Hi @Sunderlevi, regarding progress bar and how to check download progress, please reed https://github.com/KevCui/animepahe-dl/issues/19#issuecomment-772817109

For error message you saw in the screenshot, it's normal, as I mentioned in the READM.md:

You could try to reduce `-t` value or use normal download mode without `-t`. Hope it will work for you.

[2022-01-24 06:43] #43 closed

[2022-01-24 06:46] KevCui commented on #39
Hi @Zeroo097, it's been months I didn't hear you back. I assume everything works now? If not, feel free to open new issue. I'm closing this issue since no more actions to be done on my side.

Hi @parhamlans619, 443 error can caused by server. Please open new issue with logs if it's still happening to you, I will for sure take another look there. Thanks.

[2022-01-24 06:46] #39 closed

[2022-01-25 08:20] Sunderlevi opened #44 "Petition"
Add animepahe scrap link batch to download externally if possible...

[2022-01-25 09:03] KevCui commented on #44
Hi @Sunderlevi, if I understand your suggestion correctly, it's been done already in the script. You could use the `-l` flag:

[2022-01-25 09:03] #44 closed

[2022-01-25 09:06] Sunderlevi commented on #44
Can give me an example command line

[2022-01-25 17:48] KevCui commented on #44
Hi @Sunderlevi, if you see 403 error, please check the request header. The referer header is required `Referer: https://kwik.cx/`. Check out README.md if you need an example using `mpv`.

[2022-01-29 09:36] karmakarmeghdip opened #45 "Can't load the list"
I tried running it this morning and it ran flawlessly, everything was fine, but when I tried downloading the next episode, the list was entirely 0/0,
This was the error: `curl: (35) OpenSSL SSL_connect: Connection reset by peer in connection to animepahe.com:443`

Pls help 🥺

[2022-01-29 10:07] KevCui commented on #45
Hi @karmakarmeghdip, from the error message you posted, it looks like a connection issue from server side. Maybe try it later? Hope it will work.

[2022-01-29 10:07] #45 closed

[2022-02-22 06:08] Sunderlevi opened #47 "Sorry again for bothering"
Is there any way to increase the download speed
Like using VPN or something....
The speed of my net is around 8 to 10 mps speed
But the downloading is very slow...

[2022-02-22 19:08] KevCui commented on #47
Hi @Sunderlevi, I'd suggest to try the flag `-t` to enable parallel download, it may gain some speed. Overall, the download speed is throttled on the server side, which I don't have the control of :(

[2022-02-22 19:08] #47 closed

[2022-02-25 04:33] Sunderlevi opened #48 "Video and audio out of sync"
Sorry bro agian disturbing you...
When I use thread mode it's complete's the given task but the downloaded video audio and video not sync together....
Any solution..???
And again sorry for opening a new issue

[2022-02-25 05:58] KevCui commented on #48
Hi @Sunderlevi, it shouldn't be. Did you check the video on the website if it's not broken by default? Or you can tell me the anime name and episode, I can quickly check.

[2022-02-25 06:02] KevCui commented on #48
What's the `ffmpeg` version you have? Maybe the audio issue is caused by it.

[2022-02-25 06:15] Sunderlevi commented on #48
No its not from the website
Anime:- Jujutsu Kaisen
My ffmpeg version is 5.0

[2022-02-25 16:18] KevCui commented on #48
@Sunderlevi This sync issue only happens in this anime or other as well? Did you try to download using normal speed without parallel download?

[2022-02-25 19:24] KevCui commented on #48
Hi @Sunderlevi, I assume it's an issue of `ffmpeg`. But after I searched around, I didn't find any clue... If you could run the script with `-d` flag to enable debug mode, and paste some logs here, I may take a look.

[2022-02-26 00:07] Sunderlevi commented on #48
Sorry for the late response
As you said I also kinda looked around and I figured out the problem.
I just updated some parts of my program and the problem was solved....
Thanks again man for helping me out....
And one small Request
If you are going upgrade/update the program in the near future please can add the feature of showing downloading percent...😄

[2022-02-26 07:18] KevCui commented on #48
Hi @Sunderlevi good to hear that it's now working for you. So far, I don't plan to add a progress bar. If someone wants to add it, be my guest 🙂

[2022-02-26 07:18] #48 closed

[2022-03-03 10:29] Itmedesu opened #49 "Problem"
Downloaded anime audio and video not matching....they are not syncing

[2022-03-03 12:30] KevCui commented on #49
Hi @Itmedesu, a similar issue was reported in #48. It's been solved by the reporter `I just updated some parts of my program and the problem was solved....` https://github.com/KevCui/animepahe-dl/issues/48#issuecomment-1051385644 Maybe try first to update some programs on your machine and check again?

If you still cannot solve the problem, please run the script with `-d` flag to enable debug mode

[2022-03-03 12:40] Itmedesu commented on #49
Not working.....
My program is up-to-date
![Screenshot_2022-03-03-18-06-19-12_84d3000e3f4017145260f7618db1d683](https://user-images.githubusercontent.com/100840612/156566488-43e7b023-846b-4446-93fe-8236fd349d96.png)

[2022-03-04 07:14] Itmedesu commented on #49
Hey man can I increase the downloading speed of program if I modify the script....??

[2022-03-04 19:41] KevCui commented on #49
Hi @Itmedesu, from your log, it looks like the download is not finished. I can see your speed is really slow. If it's not caused by your network, it may be the throttling from the server side. Unfortunately, I cannot do much about this since I don't have any controls. Feel free to modify the script if you are able to increase your download speed.

[2022-03-05 14:56] Itmedesu commented on #49
Ok but what about the lagging problem...

[2022-03-05 19:53] KevCui commented on #49
@Itmedesu I assume it's also caused by the incomplete download.

[2022-03-06 01:03] Itmedesu commented on #49
I reinstalled the program
It started working....
But when I put it in my TV the same problem happens....

[2022-03-06 13:03] KevCui commented on #49
@Itmedesu If the downloaded media has no issue on your machine, but it has the issue on your TV,  it sounds like a media player problem. I don't know what codecs are used on your TV... By the way, did you check with other popular/common media players on your TV, like VLC?

[2022-03-06 13:11] Itmedesu commented on #49
It starts working perfectly for a minute and after that the same problem occurs

[2022-03-12 01:27] Itmedesu commented on #49
The issue has been solved bro
I don't know what happened
But it started working fine In my TV....

[2022-03-12 01:29] Itmedesu commented on #49
Last question...
What is debug mode
Can we speed up the downloading speed in debug mode....

[2022-03-12 09:49] KevCui commented on #49
Hey @Itmedesu, I'm glad to hear that it works. The debug mode won't increase download speed, it only prints debug logs in the terminal.

[2022-03-12 09:49] #49 closed

[2022-03-12 09:52] Itmedesu opened #50 "Sorry for reopening"
I have made a script which allows to scrap the download link from Animepahe website...
If you want the script (code) I will be happy to share it with you...

[2022-03-12 09:59] KevCui commented on #50
Hi @Itmedesu, please feel free to create PRs if you want to improve anything in this repository. Thanks!

[2022-03-12 09:59] #50 closed

[2022-03-26 05:30] love4589 opened #51 "Can't download Shingeki no Kyojin in japanese audio"
When given -o 'jpn', output is:
[WARNING] Missing video list! Skip downloading!
Same happens if I don't give -o argument

When given -o 'eng', it works as expected.

[2022-03-26 05:38] love4589 commented on #51
!bash /content/animepahe-dl/animepahe-dl.sh  -t 10 -e '*' -s 4982a240-207e-08ae-c29f-93e879f11b01

[INFO] Downloading Episode 1...
[INFO] Start parallel jobs with 10 threads
[WARNING] Missing video list! Skip downloading!
[WARNING] Missing video list! Skip downloading!
[WARNING] Missing video list! Skip downloading!
[WARNING] Missing video list! Skip downloading!
[WARNING] Missing video list! Skip

[2022-03-26 09:05] KevCui commented on #51
Hi @love4589, I tried your command and it works for me. If you check the same anime on the animepahe site, you will see a warning: ` We are getting a lot of traffic because of Shingeki no Kyojin and Kimetsu no Yaiba right now, you may experience lags, a lot of lags, during streaming. `.

This is a server side issue and it's not related to this script. I assume if you try it again now, it should wo

[2022-03-26 09:05] #51 closed

[2022-03-29 02:47] love4589 opened #52 "anime.list not updating"
Until yesterday noon it worked flawlessly, but after that it is not updating, like no anime slug and name. Can you please look into it. Thanks

[2022-03-29 02:48] love4589 commented on #52
+ getopts :hlda:s:e:r:t:o: opt
+ set_var
++ command -v curl
+ _CURL=/usr/bin/curl
++ command -v jq
+ _JQ=/usr/bin/jq
++ command -v fzf
+ _FZF=/bin/fzf
++ command -v node
+ _NODE=/tools/node/bin/node
++ command -v ffmpeg
+ _FFMPEG=/usr/bin/ffmpeg
+ [[ 1 -gt 1 ]]
+ _HOST=https://animepahe.com/
+ _ANIME_URL=https://animepahe.com/anime
+ _API_URL=https://animepahe.com/api
+ _REFERER_URL=https://kwik.c

[2022-03-29 15:20] KevCui commented on #52
Hey @love4589, there were some changes on the server side. The script needs to adapt to those changes in order to work again...

[2022-03-29 18:57] love4589 commented on #52
It seems the same to me. I got it. Will be looking forward. _Ciao_

[2022-03-29 20:14] #52 closed

[2022-03-29 20:18] KevCui commented on #52
Hey @love4589, the fix is added in the latest commit. It now requires to install additional npm packages. Please read https://github.com/KevCui/animepahe-dl#installation for more details. The script should work again.

[2022-04-01 01:07] Anime-Tako opened #53 "[ERROR] chrome command not found"
I'm really sorry bout this I just really don't know what to do, I downloaded the latest commit, installed the npm packages and downloaded chrome/chromium but it still doesn't work for me. Please help.  I copied the error i get below, thanks in advance.
./animepahe-dl.sh: line 37: command not found
[ERROR] chrome command not found

[2022-04-01 08:42] KevCui commented on #53
Hey @Anime-Tako, could you check the PATH variable `echo $PATH`, and put chrome binary into one of the path? This should help the system to find the chrome. Let me know if this works for you.

[2022-04-01 10:30] Anime-Tako commented on #53
Hello, I tried doing what you suggested. The error no longer appears but i am still unable to download. What happens now is that after I tried entering (i.e ./animepahe-dl.sh -s 113bd27d-b06c-e940-993e-06072bbbaec9 -e 1 -r 1080) the error no longer appears and the chrome app opens and thats it. The download still doesn't start.

[2022-04-01 15:18] KevCui commented on #53
@Anime-Tako Try `./animepahe-dl.sh -s 113bd27d-b06c-e940-993e-06072bbbaec9 -e 1 -d` and it will print out debug logs. If you could paste some logs here, I will help to take a look.

[2022-04-02 12:44] Anime-Tako commented on #53
Hi, sorry for the delay, here's what i got. The chrome browser still opened.
+ getopts :hlda:s:e:r:t:o: opt
+ set_var
++ command -v curl
+ _CURL=/mingw64/bin/curl
++ command -v jq
+ _JQ=/c/ProgramData/chocolatey/bin/jq
++ command -v fzf
+ _FZF=/c/ProgramData/chocolatey/bin/fzf
++ command -v node
+ _NODE='/c/Program Files/nodejs/node'
++ command -v ffmpeg
+ _FFMPEG=/c/ProgramData/chocolatey/bin/ffm

[2022-04-02 13:37] #53 closed

[2022-04-02 13:38] KevCui commented on #53
Hey @Anime-Tako, thanks for the logs. It was my terrible coding mistake. Now, it's fixed in the latest commit.

[2022-04-04 08:12] testbughub opened #54 "date: invalid date"
Hi!

First off, thank you for this script. It has really come in handy.

Now to my issue.

Every time I'm using the script, I get this error:
[code]
And it repeats a couple of times.
It can take a few minutes/tries, but it still works eventually.

My first thought is that it could be because I have set up my machine to
use English language but the rest with Swedish (time & currency etc),
but I tho

[2022-04-04 15:41] KevCui commented on #54
Hey @testbughub, if I understand correctly, the problem you are facing:

It might be caused by the user agent, not related to date command. In the latest commit, I added some working user agents. It may help to solve this problem.

Please try to pull the latest commit and try again. Tell me it works :)

[2022-04-04 16:02] testbughub commented on #54
I thought I had updated everything, but apparently I hadn't, so now it works just fine without any errors. My bad!
Thank you again, and thanks for the quick reply!

[2022-04-04 16:02] #54 closed

[2022-04-06 08:56] nareik26 opened #55 "Chrome command not found"
Chrome command not found I already installed the npm

my command is:
./animepahe-dl.sh -a 'ousama ranking' -e 1-23 -r 1080

[2022-04-06 11:22] KevCui commented on #55
Hey @nareik26, could you check the PATH variable `echo $PATH`, and put chrome binary into one of the path? This should help the system to find the chrome. Let me know if this works for you.

[2022-04-07 12:58] nareik26 commented on #55
Sorry in advanced don't know how to how to put the chrome binary into one of the path.

[2022-04-07 15:08] KevCui commented on #55
Hey @nareik26, pretty sure you may find the solution somewhere online. Try google it? :)

[2022-04-08 17:31] nareik26 commented on #53
how did you put chrome binary into one of the path?

[2022-04-12 23:19] imu1 commented on #55
You really need a separate chrome install.
In this case, you can just use chromium.
1. Download a copy of chromium here: https://download-chromium.appspot.com/. It will download a zip file named: `chrome-win.zip` 185 MB
2. Open the Git Bash terminal in the animepahe-dl.sh file (right click -> "Git Bash Here")
3. Type the following to get a human-readable list of paths: `tr ':' '\n' <<< "$PATH"`
4.

[2022-04-12 23:26] imu1 opened #57 "Wait a few seconds for fetching cookie..."
![image](https://user-images.githubusercontent.com/103541796/163070443-25589176-d0ed-4588-b24b-354b568c9335.png)
it is taking hours to fetch the cookie...........any solution

[2022-04-17 11:55] love4589 opened #58 "Stuck on getting cookies"
log---------

$ bash animepahe-dl.sh -d
+ getopts :hlda:s:e:r:t:o: opt
+ set_var
++ command -v curl
+ _CURL=/mingw64/bin/curl
++ command -v jq
+ _JQ=/c/ProgramData/chocolatey/bin/jq
++ command -v fzf
+ _FZF=/c/ProgramData/chocolatey/bin/fzf
++ command -v node
+ _NODE='/c/Program Files/nodejs/node'
++ command -v ffmpeg
+ _FFMPEG=/c/WINDOWS/system32/ffmpeg
++ command -v chromium
+ _CHROME=
++ comman

[2022-04-17 14:41] testbughub opened #59 "parse error"
Just started getting this error today (was working yesterday):

[code]

Also, I've previously posted an issue about the date error, but the script still worked so I didn't really care about it,
although I can add that the date error doesn't appear on the first line if I remove the old cookie.json before executing the script.

Example:
(no cookie.json)
[code]
(with cookie.json)
[code]

[2022-04-17 16:49] KevCui commented on #59
Hey @testbughub, apparently the cookies are no longer needed. I removed the usage in the latest commit. Please give it a try.

[2022-04-17 16:50] KevCui commented on #58
Hey @love4589, apparently the cookies are no longer needed. I removed the usage in the latest commit. Please give it a try.

[2022-04-17 16:50] KevCui commented on #55
Hey @nareik26, chrome/chromium is not needed in the latest commit. Please pull the changes and give it a try.

[2022-04-17 16:56] testbughub commented on #59
Yep, works perfectly now! Thanks a bunch!

[2022-04-17 16:56] #59 closed

[2022-04-19 09:01] nareik26 commented on #55
Thank you

[2022-04-19 09:01] #55 closed

[2022-04-22 08:21] testbughub opened #60 "Question/enhancement"
Hi there, me again!

Just had a quick question;
Would it be possible to when searching for an anime to only get the
anime titles in the fzf list, instead of including the slug before it?

The reason I ask is that I usually use my phone to download everything to my server through SSH,
and because of the small screen size I have to rotate my phone (almost) every time to see which title
I have select

[2022-04-22 21:24] #60 closed

[2022-04-22 21:27] KevCui commented on #60
Hey @testbughub, thanks for the feedback. The last commit contains the changes to show only the anime name in fzf. Enjoy! :cherries:

[2022-04-22 21:42] KevCui commented on #58
Hey @love4589, since I didn't get your feedback, I assume the script is working for you now. I will close this issue and if you still face the problem, please let me know and I will take another look.

[2022-04-22 21:42] #58 closed

[2022-04-24 10:31] testbughub opened #61 "Getting the OVA version instead of the 'normal' one"
Hi again.

I really hope I'm not being annoying by adding more issues here,
but putting my own insecurities aside, I just noticed a weird one just now.

When I selected "Shijou Saikyou no Deshi Kenichi" (non OVA),
I kept getting the listed episodes from the OVA instead.

Hopefully it's an easy fix.

I'd love to help out with fixes, but I feel that this is just beyond my skill level unfortunately,

[2022-04-24 10:36] testbughub commented on #61
I just realized that it works fine by using the slug id. Could be something about those?

[2022-04-24 11:33] #61 closed

[2022-04-24 11:33] KevCui commented on #61
Hey @testbughub, I see, it's my mistake. The fix is in the latest commit. Give it a try.

[2022-04-24 11:53] KevCui commented on #61
Thanks @testbughub for considering tipping :bow: You could find my [paypal link](https://paypal.me/kevcui), much appreciated!

[2022-04-24 12:07] testbughub commented on #61
Much appreciated!
I'll be sure to give you a little something on my next paycheck in two days :smiley:

[2022-04-29 06:07] testbughub opened #62 "Downloading folder ends with two whitespaces"
Hi again!

Not sure what caused it, when looking through the fzf list and when it downloads the episode(s),
it adds two spaces to the dir name.
I tried looking for the cause, but didn't have any luck with it.
I'm only guessing that it's related to the $_ANIME_NAME variable.

Everything else still works fine though, so no need to rush anything :smiley:

[2022-04-29 18:24] KevCui commented on #62
Hi @testbughub, that's right, using the trailing spaces is a quick hack to avoid select wrong anime name. I thought no one would notice those 3 spaces in the folder name. Apparently, this assumption is wrong. I will find a proper way to solve the problem :)

[2022-04-29 18:33] #62 closed

[2022-04-29 18:34] KevCui commented on #62
Hey @testbughub, the latest commit should fix this issue. Give it a try.

[2022-04-29 19:00] testbughub commented on #62
@KevCui Ah, I see. Well the only reason I noticed it is because I move some episodes to a different folder
so I can view them on my Emby server,
and because I use zsh + ohmyzsh with the zsh-autosuggestions plugin ([quick example](https://0x0.st/oAXp.png
)),
it complained that it couldn't find the file when I 'tabbed' which gave me a short "wtf" moment :sweat_smile:.

But it works fine again like y

[2022-05-09 08:16] ricky16x opened #63 "Missing Video list"
Please help with the error.

![image](https://user-images.githubusercontent.com/35138477/167368669-8649c0a8-1b73-4dbb-adc6-9d0b17e14b55.png)

[2022-05-10 17:47] KevCui commented on #63
Hi @ricky16x, could you please let me know the anime title in your screenshot? I can quickly check if the source is missing on the server.

[2022-05-12 08:13] Dwight123-crypto opened #64 "parse error: Invalid literal at line 1, column 4"
Having this error recently, don't know what seems to be wrong??? It's working fine before.
![image](https://user-images.githubusercontent.com/62493728/168023736-065cee7e-c585-4056-81a8-5c12f7fac3f5.png)

[2022-05-12 18:43] KevCui commented on #64
Hi @Dwight123-crypto,. I tried the same command. The download of `ee720839-7463-2d78-f019-b5adb1f8b1cc` starts for me. Could you please try again? If it's still not working, please run the command with the flag `-d`, this will print out logs for debug. Paste the logs here and I will then take a look.

[2022-05-13 02:01] Dwight123-crypto commented on #64
Hi, @KevCui can you give me the sample code format, for the one w/ the flag?

[2022-05-13 02:09] Dwight123-crypto commented on #64
Hey @KevCui here are the log results:

[code]

[2022-05-13 21:01] KevCui commented on #64
Hey @Dwight123-crypto, from the logs, it looks like you are using an old script. Please pull the recent changes from this repository and give it a try.

[2022-05-14 06:24] Dwight123-crypto commented on #64
Hey @KevCui , it literally solved the issue
![image](https://user-images.githubusercontent.com/62493728/168413655-82aa547d-6172-436d-a1f0-cc32949ec32a.png)
Thanks man!

[2022-05-14 06:28] #64 closed

[2022-05-15 00:16] Dwight123-crypto opened #65 "[WARNING] Anime name not found!"
Hi @KevCui this two anime's can't be found...
![image](https://user-images.githubusercontent.com/62493728/168452189-5c03d0a8-9a92-4f7d-9cf1-fa4c33c6368b.png)
![image](https://user-images.githubusercontent.com/62493728/168452196-4da08844-9682-4b02-8be6-4638bed3601e.png)
![image](https://user-images.githubusercontent.com/62493728/168452202-d5612f25-ff61-4a27-b55a-73c8ae8f6e84.png)

[2022-05-15 07:55] KevCui commented on #65
Hey @Dwight123-crypto, the anime slug/uuid is changing frequently on the server. You can run `./animepahe-dl.sh` once and get the latest slug uuid in `./anime.list`.

[2022-05-15 08:48] Dwight123-crypto commented on #65
Yep working now
![image](https://user-images.githubusercontent.com/62493728/168464717-dbb03928-9f43-4056-a4b6-55d8c54fe2aa.png)

Thanks again man!

[2022-05-15 08:48] #65 closed

[2022-05-25 13:31] Akash-Vj opened #66 "No Audio in the downloaded files"
Hi , I am not sure whether the problem is at my side or not.
All of the downloaded files have no audio and I also apologies if the issue is not professional.
I'm new to GitHub.

[2022-05-26 06:42] KevCui commented on #66
Hi @Akash-Vj, someone had the similar issue before, it turned out it was caused by the media player. Could you play the download file using other players, like VLC?

[2022-05-31 01:45] falkpaulfabian2004 opened #67 "scrip is broke"
this script give me this error out!

animepahe-dl.sh: line 292: syntax error near unexpected token `<'

[2022-06-01 07:15] KevCui commented on #67
Hey @falkpaulfabian2004, did you run the script as `sh` or `bash`? The script should work with `bash`, not `sh`. If you are using `bash`, could you please check the version `bash --version` if it's the latest?

[2022-06-19 08:33] InternetPotential29 opened #68 "cURL error while downloading"
Hi, there is an error with cURL while downloading this anime (Isekai Maou to Shoukan Shoujo no Dorei Majutsu Ω)

![image_2022-06-19_163226908](https://user-images.githubusercontent.com/8487981/174472640-f716fc71-8dc2-4f2f-a9dd-875869ec6986.png)

[2022-06-19 11:47] KevCui commented on #68
Hey @InternetPotential29, I tried the same command, it works for me.

The error message in the screenshot looks like curl doesn't have the permission to write output on your file system. Please try to run `curl -sSL 'https://www.github.com' -o github.html` inside the same script directory, to see if curl can create `github.html` with content.

[2022-06-19 11:51] KevCui commented on #63
Hey @ricky16x, since there was no reply coming back from you, I assume this fix has been resolved?

I'm closing this issue for now. If the issue still occurs, please tell me the anime title. I will reopen this issue ticket and quickly take a look.

[2022-06-19 11:51] #63 closed

[2022-06-24 00:59] JomarAggabao opened #69 "No audio on other anime"
No audio on One Piece. I tried to download other anime and it has audio, but when it comes to one piece there's no audio Sir. Please fix it Sir. I love your script

[2022-06-24 17:00] KevCui commented on #69
Hey @JomarAggabao, did you check the same episode on the animepahe site directly? Maybe the media/video itself doesn't have audio?

[2022-06-25 07:05] JomarAggabao commented on #69
Yes Sir, i played it on their site and the audio is fine. Did you try it ?

[2022-06-25 11:00] KevCui commented on #69
Hey @JomarAggabao, ok please send me the anime name and episode number, or simply the link. I can quickly check.

[2022-06-25 12:02] joseflewis opened #70 "Content Error"
I downloaded many anime series using threads below 50 and once I tried to watch them, apparently they had video lags with parts getting an audio cut and I compared one episode downloaded by this script and one downloaded manually through site and the errors of the video did not show on the one that was downloaded manually, just a suggestion but can you not make a command that will show the link to

[2022-06-25 16:52] KevCui commented on #70
Hey @joseflewis, you could use flag `-l` to get the link without downloading, check README.md file for more details.

[2022-06-25 16:52] #70 closed

[2022-06-25 17:32] joseflewis opened #71 "Download Link Not Working"
The m3ua link that the flag -l gives does not work, I tried putting https://eu-041.files.nextcdn.org/stream/08/365548b2a43671a1591a10a073ca17a56aa466cc276423cb22ff206203e1eaed/uwu.m3u8 in idm and it did not work, only an error occured probably because it's a stream link. What to do?

[2022-06-25 20:12] KevCui commented on #71
Hey @joseflewis, I don't know how idm works. In general, you need to set the referrer header in order to use the link. For example:

[code]

[2022-06-25 20:12] #71 closed

[2022-06-30 06:08] InternetPotential29 commented on #68
No, I can still download other anime without an error.

Here is the log file with -t option on debug.
[https://pastebin.com/Z1VVAYcf](url)

I have tried without the -t command and it works. I don't know why but on others I can do 100 threads.

[2022-06-30 20:42] KevCui commented on #68
Hi @InternetPotential29 , thanks for the logs. The reported issue doesn't appear to be in the script itself. I guess it may be something wrong with `curl` when handling `Ω` symbol in the directory name. But I'm not able to find the exact issue in `curl` project, and I don't think I can fix that either. You could try to update `curl` to the latest version, if it helps. Otherwise, I'd suggest using

[2022-06-30 20:42] #68 closed

[2022-07-25 10:52] CiekawyMichu opened #72 "Issue while downloading"
I tried using -t to download faster, but it finishes after the first episode and it outputs a folder with segments of the video.

![obraz](https://user-images.githubusercontent.com/46295137/180760734-becd691f-4b92-49da-bac1-8465c790580f.png)

Here is the output https://pastebin.com/gKWFx40p

[2022-07-25 12:00] KevCui commented on #72
Hey @CiekawyMichu, unfortunately the logs don't show any errors. The script appears to be finished while running the `decrypt_segments` function. So far, I don't know why, I guess maybe some segments are missing. Do you retry to download the same episode? If it's still not working, I'd suggest running the script with out the flag `-t`.

[2022-07-25 12:06] CiekawyMichu commented on #72
I did retry a few more times, tried also other anime, nothing seems to help.

[2022-07-25 16:26] KevCui commented on #72
Hey @CiekawyMichu, please check if running the script without `-t` works for you? If you caught any error message, let me know.

[2022-07-25 19:14] KevCui commented on #72
Hey @CiekawyMichu, I checked again your logs. From the logs, all segments should be downloaded. I'm thinking maybe it's something wrong with bash process substitution. Could you please check which bash version on your machine? `bash --version`

[2022-07-25 19:20] CiekawyMichu commented on #72
It's version 5.1.16(1)-release (x86_64-alpine-linux-musl)

[2022-07-25 19:39] KevCui commented on #72
@CiekawyMichu, ok, then it shouldn't be the process substitution... Besides, the same code structure is used to download segments. As the download part works, it should work for the decrypt part as well...

I have no idea as for now what goes wrong. I removed some redundant code in the latest commit and pushed it. I don't think it can solve the issue you are facing. But maybe give it a try since I

[2022-07-25 19:41] KevCui commented on #67
Hey @falkpaulfabian2004, I'm closing this issue since there is no further reply from your side. I assume everything went well? If you are still having the same issue, please leave comments or feel free to open new issue with more details.

[2022-07-25 19:41] #67 closed

[2022-07-25 19:47] KevCui commented on #69
Hey @JomarAggabao, I tried some episodes of One Piece and audio works well for me. I'm closing this issue since there is no further information from your side. I hope everything went well for you in the end. If not, please let know me the episode number, I can then quickly check.

[2022-07-25 19:47] #69 closed

[2022-07-27 10:51] CiekawyMichu commented on #72
It works now, thank you very much.

[2022-07-27 10:51] #72 closed

[2022-08-16 15:34] FierBub-42069 opened #73 "[WARNING] Missing video list! Skip downloading!"
Hello developers,
Everytime I try to use this script, I get "[WARNING] Missing video list! Skip downloading!" and the download does not happen. I'm using Ubuntu-WSL btw.
![image](https://user-images.githubusercontent.com/97083659/184919999-a8dde2ac-1aba-4fc0-8531-2f464685d803.png)

[2022-08-17 06:52] KevCui commented on #73
Hey @FierBub-42069, could you please let me know the name of the anime? Did you try `-a` to see if it works?

[2022-08-19 08:04] FierBub-42069 commented on #73
Yes, I did, still the same problem.
![image](https://user-images.githubusercontent.com/97083659/185573222-0539de8f-aeb5-4f68-81f4-2e189f7ca046.png)
But it works flawlessly on Termux on Android.

[2022-08-19 12:12] KevCui commented on #73
Hey @FierBub-42069, I cannot reproduce your issue. It looks like something wrong with the system. Could you run the same command with `-d` flag to enable debug mode? Like `./animepahe-dl.sh -a 'Fuuto Tantei' -e 1 -r '1080' -d`. And then paste the logs here, I will take another look. Thanks!.

[2022-08-19 14:08] FierBub-42069 commented on #73
`C:\Users\fierb\Videos\Anime\animepahe-dl>bash animepahe-dl.sh -s 366ff2ae-af2b-5282-f789-9a858df623f5 -e "*" -d
+ getopts :hlda:s:e:r:t:o: opt
+ set_var
++ command -v curl
+ _CURL=/usr/bin/curl
++ command -v jq
+ _JQ=/usr/bin/jq
++ command -v fzf
+ _FZF=/usr/bin/fzf
++ command -v node
+ _NODE=/usr/bin/node
++ command -v ffmpeg
+ _FFMPEG=/usr/bin/ffmpeg
+ [[ 1 -gt 1 ]]
+ _HOST=https://animepahe.co

[2022-08-19 14:08] FierBub-42069 commented on #73
`C:\Users\fierb\Videos\Anime\animepahe-dl>bash animepahe-dl.sh -s 366ff2ae-af2b-5282-f789-9a858df623f5 -e "*" -d
+ getopts :hlda:s:e:r:t:o: opt
+ set_var
++ command -v curl
+ _CURL=/usr/bin/curl
++ command -v jq
+ _JQ=/usr/bin/jq
++ command -v fzf
+ _FZF=/usr/bin/fzf
++ command -v node
+ _NODE=/usr/bin/node
++ command -v ffmpeg
+ _FFMPEG=/usr/bin/ffmpeg
+ [[ 1 -gt 1 ]]
+ _HOST=https://animepahe.co

[2022-08-19 19:37] KevCui commented on #73
Hey @FierBub-42069, the part of log `++ s='eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'''''':e(parseInt(c/a)))+((c=c%a)>35?` looks weird. The single quotes show as `''''''`, which should be `''`. I guess it may due to the text format in GitHub comment.

Could you please paste the logs as markdown code block? Enclose it in backticks (```) , like:

[code]

[2022-08-19 20:31] FierBub-42069 commented on #73
@KevCui Yeah, I edited it out. I hope it helps. Thanks.

[2022-08-19 21:26] KevCui commented on #73
Hey @FierBub-42069, thanks for the update. It's still weird that the single quote is shown as `c<a?'\'''\''`.. what's the `curl` version on your machine? ` curl --version`

[2022-08-19 21:31] KevCui commented on #73
Did `curl --compressed -sS -H 'Referer: https://kwik.cx/' https://kwik.cx/e/DxCvjg4QwIYa` response show the same content with escaped single quote like `eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'\'''\'':e(parseInt`?

[2022-08-19 21:51] FierBub-42069 commented on #73
I'll check it later today after waking up in the morning.

[2022-08-20 05:02] FierBub-42069 commented on #73
`$ curl --version
curl 7.81.0 (x86_64-pc-linux-gnu) libcurl/7.81.0 OpenSSL/3.0.2 zlib/1.2.11 brotli/1.0.9 zstd/1.4.8 libidn2/2.3.2 libpsl/0.21.0 (+libidn2/2.3.2) libssh/0.9.6/openssl/zlib nghttp2/1.43.0 librtmp/2.3 OpenLDAP/2.5.12
Release-Date: 2022-01-05
Protocols: dict file ftp ftps gopher gophers http https imap imaps ldap ldaps mqtt pop3 pop3s rtmp rtsp scp sftp smb smbs smtp smtps telnet tftp

[2022-08-20 05:08] FierBub-42069 commented on #73
[code]

Yes it does seem to.

[2022-08-20 07:18] KevCui commented on #73
Hey @FierBub-42069, the `curl` version is good and the log shows the correct data fetched by `curl`. I assume the problem coming from the `sed`, or the data piped to `sed` somehow having escaped quote character...

I pushed some changes in the latest commit. Please give it a try. Feel free to reopen this issue if the fix attempt is failed. Hope it works :crossed_fingers:

[2022-08-20 07:51] FierBub-42069 commented on #73
[code]
Now, the "anime slug not found error" is being returned. 😥

[2022-08-20 07:58] FierBub-42069 commented on #73
'''
$ ./animepahe-dl.sh -s 3a545cc6-ebef-f584-bd04-f06029483d24 -e "1" -d
+ getopts :hlda:s:e:r:t:o: opt
+ set_var
++ command -v curl
+ _CURL=/usr/bin/curl
++ command -v jq
+ _JQ=/usr/bin/jq
++ command -v fzf
+ _FZF=/usr/bin/fzf
++ command -v node
+ _NODE=/usr/bin/node
++ command -v ffmpeg
+ _FFMPEG=/usr/bin/ffmpeg
+ [[ 1 -gt 1 ]]
+ _HOST=https://animepahe.org
+ _ANIME_URL=https://animepahe.org/an

[2022-08-20 08:17] KevCui commented on #73
Hey @FierBub-42069, yeah probably WSL issue. WSL is half-baked :man_shrugging:. Anyway, I pushed another fix in the latest commit, hope this time it can work :crossed_fingers:

[2022-08-20 10:11] Baburuti commented on #73
Hi, im still having the same issue. Using win10
![image](https://user-images.githubusercontent.com/11586586/185740969-d82b4be5-9901-4d74-be7a-510dcf2b67dd.png)

[code]

[2022-08-20 12:31] KevCui commented on #73
Hey @Baburuti, from the log `_NODE='alias node='\''winpty node.exe'\'''`, the `node` command is an alias on your machine. I don't know how it's configured. It seems causing the problem. Is it possible to properly install nodejs?

You could check if `node` command works or not by running command:
[code]

If you see the `const source='https://...` in the output, then it works.

[2022-08-20 12:44] KevCui commented on #73
Hey @FierBub-42069, I was wrong and the previous fix shouldn't work. Sorry about that.

Now I'm suspecting the `node` command doesn't work. Could you please try to run the command:

[code]

Did you see the `const source='https://...` in the output?

[2022-08-20 13:38] Baburuti commented on #73
Getting

```Uncaught SyntaxError: Unexpected string```

Happens even after reinstalling nodejs(v18.7.0)

[2022-08-20 13:54] KevCui commented on #73
Hey @Baburuti, ok thanks, I will check.

[2022-08-20 14:30] KevCui commented on #73
Hey @Baburuti, you got only one line of error `Uncaught SyntaxError: Unexpected string`, and there is no stack traces or other info? Would you mind sharing a screenshot?

[2022-08-20 14:36] Baburuti commented on #73
@KevCui i forgot 😂 my bad there you go

[code]

[2022-08-20 17:25] KevCui commented on #73
Hey @Baburuti, thanks for the logs. I don't have any ideas what's wrong with `node`. Could you please try to run `node -e 'console.log(1)'` and see if you can get any result?

By the way, I pushed some changes to clean up related code. It shouldn't fix the issue you are facing. But anyway, give it a try, we may have different error :smile:.

[2022-08-20 18:42] Baburuti commented on #73
Hi, here's the node
![image](https://user-images.githubusercontent.com/11586586/185761616-bdd03bdc-82bd-49f7-9424-2be38824c1eb.png)

And as for the update
![image](https://user-images.githubusercontent.com/11586586/185761731-0d2a8f4f-c73c-4084-81cb-869105af0835.png)

[2022-08-20 19:19] KevCui commented on #73
Hey @Baburuti, from the screenshot, it looks like your `node` command is an alias to `winpty node.exe`. I didn't expect this. I did some change in the latest comment and it should fix the command not found issue.

[2022-08-22 08:41] Baburuti commented on #73
Hi @KevCui im still having the same issue with command not found

[2022-08-22 09:59] KevCui commented on #73
Hey @Baburuti, sad it's not working. I reverted previous change.

Unfortunately, I don't have the exact system/environment to reproduce the issue you are facing. Would you do me a favor to pull the latest commit, which contain the reverted change, and then modify `animepahe-dl.sh`, line 204:

From `"$_NODE" -e "$s"` to `node -e "$s"`
If the above is still not working, then try:

From `"$_NODE" -e

[2022-08-22 10:06] KevCui commented on #73
@Baburuti, may I ask if it's possible to install and use nodejs directly on your system, without using `winpty`?

[2022-08-22 13:11] Baburuti commented on #73
hi @KevCui

Here is the error upon changing to `node -e "$s"`
![image](https://user-images.githubusercontent.com/11586586/185928907-40ef284d-d98e-40ad-ac04-d81ebb8aadad.png)

The only winpty file i could find is just in git bash. I tried using it after uninstalling git but fzf just closes after executing any command in PSfzf

And as for changing path (With git installed)
![image](https://user-imag

[2022-08-22 21:03] KevCui commented on #73
Hey @Baburuti, could you try once more by changing the line 204 from `"$_NODE" -e "$s"` to `node.exe -e "$s"`? Curious what will happen. Thanks!

[2022-08-24 08:22] Baburuti commented on #73
It's working!!
![image](https://user-images.githubusercontent.com/11586586/186368277-31a0acec-aa79-4e5c-a9ba-e6857c1fcc7b.png)

I think i edited the old script before revert changes :D
Thank you for the help!

[2022-08-24 19:01] KevCui commented on #73
Hey @Baburuti, thanks for the information. According to your confirmation that works, I pushed another changes to allow using the non-default node binary in the script.

You could try the latest commit with the command `ANIMEPAHE_DL_NODE=node.exe ./animepahe-dl.sh ...`. This will tell the script to use `node.exe`, not the alias one. You could also put `ANIMEPAHE_DL_NODE=node.exe` in `.bashrc`, the

[2022-08-25 15:49] Baburuti commented on #73
The command works without any issues, It's downloading ^^

[2022-08-25 19:28] KevCui commented on #73
@Baburuti Awesome 👍

I'll then close this issue. @FierBub-42069 if you are still having troubles with the above solution, feel free to let me know.

[2022-08-25 19:29] #73 closed

[2022-08-26 01:08] prometheus209 opened #75 "Error in the pull function.[tls @ 000001cc1a676700] IO error: Error number -10054 occurred"
hello devs everytime i try to download anything I always get this error and the download stops. it downloads about 40-50 MB then it just stops entirely and gives me this error

![image](https://user-images.githubusercontent.com/112138523/186794844-84644ab8-2764-4398-9a10-651f52c63030.png)

[2022-08-26 01:32] prometheus209 commented on #75
when i was working with my vpn I accidentally tried downloading without turning it off and it seems to have worked does that mean the problem is with my isp or is it something in my router settings, FYI: i had just changed my isp and it used to work before.

[2022-08-26 05:04] KevCui commented on #75
Hey @prometheus209, I don't think the issue you are facing is caused by the script. I'd guess it's some kind of network issue.

To know more about where this error is coming from, you could try to run the script with `-d` flag and check the debug logs.

[2022-08-26 07:32] #75 closed

[2022-09-14 11:18] soheru opened #76 "Query"
can you share animepahe api endpoint to get m3u8 file i am using python requests method.

[2022-09-14 13:00] KevCui commented on #76
Hey @soheru, sure, you could find the method in this function https://github.com/KevCui/animepahe-dl/blob/master/animepahe-dl.sh#L198

[2022-09-14 13:00] #76 closed

[2022-09-22 16:53] savanchhayani opened #77 "Parallel jobs to download is not working"
Hi,

I am trying to download episodes with parallel jobs, but I am facing the below error every time. Is there any solution available?

#### Error:
`./Naruto/4.mp4: No such file or directory`

<img width="539" alt="Screenshot 2022-09-22 at 10 20 03 PM" src="https://user-images.githubusercontent.com/32090577/191806312-5f130723-8487-4e3f-869e-81e8a4cd01e4.png">

[2022-09-23 08:08] KevCui commented on #77
Hey @savanchhayani, from the screenshot, it looks like `realpath` command was not found on your machine. This command binary should be included in GNU coreutils, please install it and it should work without error.

[2022-09-23 08:08] #77 closed

[2022-09-27 16:21] mish20011 opened #78 "5 vulnerabilities (1 moderate, 4 high)"
C:\Users\user\Desktop\animepahe-dl-master>npm install jq fzf ffmpeg openssl

added 11 packages, and audited 121 packages in 40s

20 packages are looking for funding
  run `npm fund` for details

5 vulnerabilities (1 moderate, 4 high)

To address issues that do not require attention, run:
  npm audit fix

Some issues need review, and may require choosing
a different dependency.

Run `npm audit` for

[2022-09-27 19:04] KevCui commented on #78
Hey @mish20011, as npm audit suggested, run `npm audit fix` will fix the reported vulns in the depedencies.

[2022-09-28 12:23] mish20011 commented on #78
This did not work for me, after entering npm audit fix it said there is no fix for it

[2022-09-28 13:00] mish20011 opened #79 "Hey @mish20011, as npm audit suggested, run `npm audit fix` will fix the reported vulns in the dependencies."
Hey @mish20011, as npm audit suggested, run `npm audit fix` will fix the reported vulns in the dependencies.

_Originally posted by @KevCui in https://github.com/KevCui/animepahe-dl/issues/78#issuecomment-1259930381_

here is what it said after I did it

Leahsim@DESKTOP-GK31TCE MINGW64 ~/Desktop/animepahe-dl-master
$ npm audit fix

up to date, audited 121 packages in 8s

20 packages are looking fo

[2022-09-28 13:04] mish20011 commented on #79
I followed it up by npm fund

Leahsim@DESKTOP-GK31TCE MINGW64 ~/Desktop/animepahe-dl-master
$ npm fund
user
├─┬ https://github.com/cheeriojs/cheerio?sponsor=1
│ │ └── cheerio@1.0.0-rc.12
│ ├── https://github.com/sponsors/fb55
│ │   └── cheerio-select@2.1.0, css-select@5.1.0, css-what@6.1.0, domelementtype@2.3.0
│ ├─┬ https://github.com/cheeriojs/dom-serializer?sponsor=1
│ │ │ └── dom-serializer@2.

[2022-09-28 13:04] mish20011 commented on #79
please help, its still not working

[2022-09-28 21:28] KevCui commented on #79
Hey @mish20011, this project doesn't depend on any npm modules. The reported issue is irrelevant.

[2022-09-28 21:28] #79 closed

[2022-09-28 21:28] KevCui commented on #78
Hey @mish20011, this project doesn't depend on any npm modules. The reported issue is irrelevant.

[2022-10-01 13:33] mish20011 commented on #79
you close every issue instantly without even giving proper explanation, what an ass, at least give me a reason, I did what you said but nothing changed, you didn't provide an alternative, what the fuck man

[2022-10-02 06:34] KevCui commented on #79
Hey @mish20011, as I explained: `this project doesn't depend on any npm modules. The reported issue is irrelevant.` It seems you still don't understand, allow me provide more details: Please check the dependency section in the project README.md, to use this script doesn't require any npm modules. Hence, the issue you reported regarding those npm modules is not related to this project.

I closed th

[2022-10-07 13:10] Akash-Vj opened #80 "parse error: Invalid literal at line 1, column 4"
Please help me with this error

<img width="586" alt="image" src="https://user-images.githubusercontent.com/106252064/194561206-a7482416-2577-4333-8ab1-826bac05c3a5.png">

[2022-10-07 18:32] KevCui commented on #80
Hey @Akash-Vj, @lord8266 fixed this issue in the latest commit. Please pull the changes and try it, it should work now.

[2022-10-19 01:03] Dwight123-crypto opened #82 "downloading error!!!"
Hi @KevCui , I was trying to dl a new ep of Chainsaw man today. Then I encountered this error:
![image](https://user-images.githubusercontent.com/62493728/196572838-ec6543cf-e719-4fe5-930a-bc2928addff3.png)
I tried to pull, if there's a recent updates, but mine is already up to date. Also tried cloning a new repo, but still encountered the same error... Any ideas on this?

Thanks :)

[2022-10-19 08:55] #82 closed

[2022-10-19 08:57] KevCui commented on #82
Hey @Dwight123-crypto, the latest commit should fix the issue. Please check.

[2022-10-19 09:03] Dwight123-crypto commented on #82
Thanks KevCui! working fine now.

On Wed, Oct 19, 2022 at 4:57 PM K̶e̶v̶i̶n̶ ***@***.***> wrote:

--

Best regards,

尺ㄩ丂丂🝗㇄

[2022-10-26 20:18] Baburuti opened #83 "Default downloads english dub"
Hi as the title says the script just downloads all anime in english dub without specifying it, checked with different anime but all of them have this issue
Tried specifying it to japanese with jp and jap but neither of them are working and just rolls back to english dub as default

[2022-10-27 07:11] KevCui commented on #83
Hey @Baburuti, try `-o jpn`. If it's still not working, please let me know the anime title, I'll quickly check.

[2022-10-27 08:50] Baburuti commented on #83
The `-o jpn` worked.
Although is there any chance i could set it to download japanese by default? Didnt had this issue before downloading an update

[2022-10-27 08:50] #83 closed

[2022-10-27 17:37] KevCui commented on #83
Hey @Baburuti, the "default" audio language depends on the server side. If no language is specified while running the script, the script simply takes the first matched resource to download.